@tailwind base;
@tailwind components;
@tailwind utilities;

$primary: #3db278;

@layer base {
  h1 {
    @apply text-xl font-medium mt-0 mb-1;
  }

  h2 {
    @apply text-base font-medium mb-1;
  }

  p {
    @apply text-gray-600 m-0;
  }

  ul {
    @apply list-none my-0;
  }

  .disabled {
    &:disabled {
      @apply bg-gray-100 hover:bg-gray-100 text-gray-500 opacity-50 pointer-events-none;
    }
  }

  button {
    &.btn {
      min-width: 75px;
      @apply font-medium cursor-pointer rounded-lg px-4 py-2 mr-2;

      &.primary {
        @apply bg-primary hover:bg-primaryLight text-white;

        &:disabled {
          @apply disabled;
        }
      }

      &.loading {
        @apply bg-gray-100 hover:bg-gray-100 text-gray-500 pointer-events-none;
      }

      &.info {
        @apply bg-gray-100 hover:bg-gray-50 text-gray-500;

        &:disabled {
          @apply disabled;
        }
      }
    }
  }

  // tw
  .card {
    @apply flex flex-col items-center justify-center p-8 mb-6;

    header {
      @apply flex items-start justify-between w-full mb-4;
    }
  }

  .container {
    @apply mx-auto;
    max-width: 1200px !important;
  }

  .chip {
    @apply rounded-full px-3 py-2 inline;

    &--small {
      @apply px-3 py-1;
    }

    &--info {
      @apply bg-gray-100;
    }

    &--primary {
      @apply bg-primary;
    }
  }

  .min-w-12 {
    min-width: 3rem;
  }

  //custom
  .loading {
    @apply bg-gray-200 rounded-lg;
    animation: toggleOpacity 1s infinite;

    &-line {
      @apply h-8 rounded-lg;
    }
  }

  .home {
    h1 {
      @apply text-3xl;
    }
  }

  header {
    h1 {
      @apply text-2xl flex items-center mb-4;
    }

    .chip {
      @apply text-sm py-0.5 px-3;
    }
  }

  .header {
    @apply bg-white shadow-sm flex flex-col w-full;

    &--main {
      @apply px-5 py-2 flex items-center justify-center w-full border-b;
    }

    &--sub {
      @apply px-4 py-3 flex items-center justify-start w-full;
    }

    select {
      @apply outline-none cursor-pointer;
    }

    .select {
      @apply border rounded-lg px-3 py-2 text-xs shadow-sm font-semibold cursor-pointer;
    }

    &--menu {
      @apply flex items-center;

      &--item {
        @apply chip chip--small mr-2 font-medium;

        &:hover {
          @apply bg-gray-200 text-black transition cursor-pointer;
        }

        &.active {
          @apply font-bold text-white bg-primary;
        }
      }
    }
  }

  .features {
    circle {
      fill: #eee !important;
      stroke-linecap: round;
    }
  }

  .slideover {
    h1 {
      @apply text-4xl;
    }
  }

  .upload {
    @apply cursor-pointer w-full border border-dashed border-primary rounded-lg transition flex flex-col items-center justify-center;

    &--zone {
      @apply hover:bg-primary/5 h-32 w-full flex flex-col items-center justify-center;
      &:hover {
        img {
          @apply opacity-100 scale-105 transition;
        }
      }
    }

    img {
      @apply opacity-50;
    }
  }

  @keyframes toggleOpacity {
    0% {
      opacity: 0.5;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0.5;
    }
  }
}
