@tailwind base;
@tailwind components;
@tailwind utilities;

$primary: #3db278;

body,
.MuiPaper-root {
  @apply font-sans;
}

@layer base {
  body,
  .MuiPaper-root {
    @apply font-sans;
  }

  h1 {
    @apply text-xl font-medium mt-0 mb-1;
  }

  h2 {
    @apply text-base font-medium mb-1;
  }

  p {
    @apply text-gray-600 m-0;
  }

  ul {
    @apply list-none my-0;
  }

  .cta {
    @apply text-primary-500 text-sm underline cursor-pointer;
  }

  .disabled {
    @apply bg-gray-100 hover:bg-gray-100 text-gray-500 opacity-50 pointer-events-none;
    &:disabled {
      @apply bg-gray-100 hover:bg-gray-100 text-gray-500 opacity-50 pointer-events-none;
    }
  }

  .info {
    @apply text-gray-500;

    &:disabled {
      @apply disabled;
    }
  }

  .btn {
    @apply font-medium cursor-pointer rounded-lg flex items-center;
  }

  button {
    @apply outline-none flex items-center;

    &.text {
      @apply my-2;
    }

    &.btn {
      max-width: 100%;
      @apply px-4 py-2 flex items-center justify-center;

      &--big {
        @apply px-4 py-3 text-lg;
      }

      &.info {
        @apply bg-gray-100 hover:bg-gray-50;
      }

      &.primary {
        @apply bg-primary-400 hover:bg-primary-300 text-white;

        &:disabled {
          @apply disabled;
        }
      }

      &.loading {
        @apply bg-gray-100 hover:bg-gray-100 text-gray-500 pointer-events-none;
      }
    }
  }

  .input {
    @apply px-3 py-2 border rounded outline-primary-500 w-full;
  }

  input[type="text"],
  input[type="date"],
  input[type="number"],
  select {
    @apply input;
  }

  // tw
  .card {
    @apply flex flex-col items-center justify-center p-8 mb-6;

    &--popup {
      header,
      main {
        @apply py-4 px-6;
      }
      header {
        @apply flex items-center justify-between border-b py-4 px-6;
      }
      main {
        @apply pb-8;
      }
    }

    header {
      @apply flex items-start justify-between w-full mb-4;
    }
  }

  .container {
    @apply mx-auto;
    max-width: 1200px !important;
  }

  .chip {
    @apply rounded-full px-3 py-2 inline;

    &--small {
      @apply px-3 py-1;
    }

    &--info {
      @apply bg-gray-100;
    }

    &--primary {
      @apply bg-primary-400;
    }
  }

  .deal {
    .card {
      @apply p-5;
    }
    .stat {
      @apply border border-primary-500/25 rounded-lg flex flex-col items-center justify-center;
    }
    &--description {
      @apply text-black;
      h1 {
        @apply text-lg my-4 text-black font-medium;
      }
      p {
        @apply mb-4;
      }
    }
    &--main {
      > div {
        @apply mb-8;
      }
    }
  }

  .min-w-12 {
    min-width: 3rem;
  }

  //custom

  .bg-1 {
    background-image: url("../public/backgrounds/bg-1.png");
    background-size: cover;
    background-position: center center;
  }

  .features {
    circle {
      fill: #eee !important;
      stroke-linecap: round;
    }
  }

  .form {
    header {
      @apply mb-8;
      h1 {
        @apply text-3xl mb-1;
      }
    }
    h2 {
      @apply text-xl mb-4;
    }
  }

  header {
    h1 {
      @apply text-2xl flex items-center mb-4;
    }

    .chip {
      @apply text-sm py-0.5 px-3;
    }
  }

  .header {
    @apply bg-white shadow-sm flex flex-col w-full;

    &--main {
      @apply px-5 py-2 flex items-center justify-center w-full border-b;
    }

    &--menu {
      @apply flex items-center;

      &--item {
        @apply chip chip--small mr-2 font-medium;

        &:hover {
          @apply bg-gray-200 text-black transition cursor-pointer;
        }

        &.active {
          @apply font-bold text-white bg-primary-400;
        }
      }
    }
  }

  .home {
    h1 {
      @apply text-3xl;
    }
  }

  .loading {
    @apply bg-gray-200 rounded-lg;
    animation: toggleOpacity 1s infinite;

    &-line {
      @apply h-8 rounded-lg;
    }
  }

  .slideover {
    h1 {
      @apply text-4xl;
    }
  }

  .upload {
    @apply cursor-pointer w-full border border-dashed border-primary-400 rounded-lg transition flex flex-col items-center justify-center;

    &--zone {
      @apply hover:bg-primary-400/5 h-32 w-full flex flex-col items-center justify-center;
      &:hover {
        img {
          @apply opacity-100 scale-105 transition;
        }
      }
    }

    img {
      @apply opacity-50;
    }
  }

  @keyframes toggleOpacity {
    0% {
      opacity: 0.5;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0.5;
    }
  }
}
